html, body {
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 20px;
  position: relative;
  color: white;
  font-size: 60px;
}

.center {
  margin: auto;
  position: relative;
  width: 50%;
  align-items: padding: 10px;
}

#indata {
  position: relative;
}

#input {
  padding: 100px 30px;
  /*border: 3px solid green;*/
  background: linear-gradient(rgba(0, 178, 255, 1), rgba(0, 178, 255, 0));
}

#table {
  padding: 20px 30px;
  /*visibility:hidden;*/
}
